include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erpnext_fiscal_year_based_date_field *.css
recursive-include erpnext_fiscal_year_based_date_field *.csv
recursive-include erpnext_fiscal_year_based_date_field *.html
recursive-include erpnext_fiscal_year_based_date_field *.ico
recursive-include erpnext_fiscal_year_based_date_field *.js
recursive-include erpnext_fiscal_year_based_date_field *.json
recursive-include erpnext_fiscal_year_based_date_field *.md
recursive-include erpnext_fiscal_year_based_date_field *.png
recursive-include erpnext_fiscal_year_based_date_field *.py
recursive-include erpnext_fiscal_year_based_date_field *.svg
recursive-include erpnext_fiscal_year_based_date_field *.txt
recursive-exclude erpnext_fiscal_year_based_date_field *.pyc